  <ul class="nav nav-tabs ">
    <% if staff.new_record? %>
      <li class="nav-item">
        <%= link_to("#{content_tag(:i, 'Profile', class: 'fa fa-info-circle')}".html_safe, new_staff_path, class: "nav-link #{yield :profile_active}") %>
      </li>
      <li class="nav-item">
        <%= link_to("Address & Contacts", "", class: "nav-link #{yield :contacts_active}") %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to("#{content_tag(:i, ' Profile', class: 'fa fa-info-circle')}".html_safe, staff_path, class: "nav-link #{yield :profile_active}") %>
      </li>
      <li class="nav-item">
        <%= link_to("Address & Contacts", contacts_staff_path, class: "nav-link #{yield :contacts_active}") %>
      </li>
    <% end %>
  </ul>
