<%= provide(:page_title, "#{content_tag(:i, ' Staff Qualifications ', class: 'fa fa-list')}".html_safe)%>
<%= provide(:qualification_active, "active") %>

<%= render(partial: 'staff_tabs', locals: {obj: @staff}) %>
<div class="card" style="border-top: none !important;">
  <div class="card-block">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Certificate</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @staff_qualifications.each do |q| %>
          <%= render(partial: 'staff_qualification', locals: {staff_qualification: q}) %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
