<%= simple_form_for(staff_category, html: {class: "form-horizontal"}, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="modal fade" id="newCategory" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CategoryModalLabel"><i class="fa fa-plus"> Staff Category </i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <br>
          <%= f.input :name, input_html: {class: "category_name"}, label: false, placeholder: "Name" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <%= f.button :submit, "Create", class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
